.btn-gray{
    @include styleButton($color-fff,$color-tran-1,$color-tran-1,$fs-15 - 1,$fw-normal,$pd-12 + 3,$pd-30);
    border-radius: $br-4;
    text-transform: uppercase;
    border: none;
    transition: .3s;
    &:hover{
        @include hoverButton($color-fff,$color-d6b161,$color-d6b161);
        border: none;
    }
    &:focus{
        box-shadow: none;
    }
}
.btn-black{
    @include styleButton($color-fff,$color-222,$color-222,$fs-15 - 1,$fw-normal,$pd-12 + 3,$pd-30);
    border-radius: $br-4;
    text-transform: uppercase;
    transition: .3s;
    &:hover{
        @include hoverButton($color-fff,$color-d6b161,$color-d6b161);
        border: 1px solid $color-d6b161;
    }
    &:focus{
        box-shadow: none;
    }
}
.btn-white{
    @include styleButton($color-222,$color-fff,$color-222,$fs-15 - 1,$fw-normal,$pd-12 + 3,$pd-30);
    border-radius: $br-4;
    text-transform: uppercase;
    transition: .3s;
    &:hover{
        @include hoverButton($color-fff,$color-222,$color-222);
    }
    &:focus{
        box-shadow: none;
    }
}