%section-padding {
    padding: $pd-100 0;
}
%heading-title {
    margin-bottom: parseRem($mg-100);
    text-align: center;
    letter-spacing: 0;
    h3{
        letter-spacing: 2px;
        font-weight: $fw-normal;
    }
    p{
        width: 60%;
        margin: 0 auto;
        padding-top: $pd-30;
        color: $color-7e7e7e;
        line-height: parseRem(25px);
    }
    @include responsive('large'){
        p{
            width: 80%;
        }
    }
}
%bg-Img{
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}
.img-circle{
    border-radius: 50%;
    width: 100px !important;
    height: 100px;
}